@import "../libs/fontello/iconspuck.css";
header .top_header {
  box-shadow: 0 3px 18px -5px rgba(0, 0, 0, 0.2);
  position: relative;
}
header .top_header .logo_wrap {
  display: flex;
  align-items: center;
  height: 100%;
}
header .top_header .logo_wrap .tablet_menu {
  display: none;
  width: 60px;
  height: 50px;
  cursor: pointer;
  position: relative;
}
header .top_header .logo_wrap .tablet_menu .for_cros {
  cursor: pointer;
  border-radius: 2px;
  height: 3px;
  width: 35px;
  background: #000000;
  position: absolute;
  display: block;
  content: '';
  transition: all 500ms ease-in-out;
}
header .top_header .logo_wrap .tablet_menu .cros_line {
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  cursor: pointer;
  border-radius: 2px;
  height: 3px;
  width: 35px;
  background: #000000;
  position: absolute;
  display: block;
  content: '';
  transition: all 500ms ease-in-out;
}
header .top_header .logo_wrap .tablet_menu .cros_line:after {
  cursor: pointer;
  border-radius: 2px;
  height: 3px;
  width: 35px;
  background: #000000;
  position: absolute;
  display: block;
  content: '';
  transition: all 500ms ease-in-out;
  bottom: -10px;
}
header .top_header .logo_wrap .tablet_menu .cros_line:before {
  cursor: pointer;
  border-radius: 2px;
  height: 3px;
  width: 35px;
  background: #000000;
  position: absolute;
  display: block;
  content: '';
  transition: all 500ms ease-in-out;
  top: -10px;
}
header .top_header .logo_wrap .tablet_menu .menu_body {
  width: 292px;
  position: absolute;
  z-index: 5;
  top: 100%;
  left: -10px;
  display: none;
  font-size: 0;
  background-color: #ffffff;
}
header .top_header .logo_wrap .tablet_menu .menu_body .menu_body_tabs {
  display: inline-block;
  text-transform: uppercase;
  background-color: #182d47;
  color: #ffffff;
  width: 50%;
  padding: 15.5px 0;
  font-size: 18px;
  font-family: 'ProximaNova-Regular';
  text-align: center;
}
header .top_header .logo_wrap .tablet_menu .menu_body .menu_body_categories {
  font-size: 14px;
  padding: 39px 0 0 46px;
}
header .top_header .logo_wrap .tablet_menu .menu_body .menu_body_categories .categories_item {
  margin-bottom: 29px;
}
header .top_header .logo_wrap .tablet_menu .menu_body .menu_body_categories .categories_item .categories_link {
  color: #1a3456;
  position: relative;
}
header .top_header .logo_wrap .tablet_menu .menu_body .menu_body_categories .categories_item .categories_link:before {
  content: '';
  display: block;
  position: absolute;
  left: -33px;
  bottom: 50%;
  transform: translate(0, 50%);
  width: 23px;
  height: 24px;
  background-color: #000;
}
header .top_header .logo_wrap .tablet_menu .menu_body_active {
  display: block;
}
header .top_header .logo_wrap .active_menu .cros_line {
  background-color: transparent;
}
header .top_header .logo_wrap .active_menu .cros_line:before {
  top: 0;
  transform: rotate(45deg);
}
header .top_header .logo_wrap .active_menu .cros_line:after {
  top: 0;
  transform: rotate(-45deg);
}
header .top_header .logo_wrap .logo {
  background-image: url(../img/logo.jpg);
  width: 197px;
  height: 54px;
}
header .top_header .bWrap {
  font-family: 'ProximaNova-Bold';
  display: flex;
  justify-content: flex-end;
}
header .top_header .bWrap .rightItem {
  position: relative;
  height: 83px;
  width: 104px;
  border-left: 1px solid #ebebec;
}
header .top_header .bWrap .basket {
  position: relative;
  background: url(../img/basket.png) no-repeat center;
  background-color: #eb2645;
  border: none;
}
header .top_header .bWrap .basket .count {
  position: absolute;
  font-size: 11px;
  top: 17px;
  right: 17px;
  color: #ffffff;
}
header .top_header .bWrap .basket .basket_body {
  width: 292px;
  height: 200px;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 5;
  display: none;
  font-size: 14px;
}
header .top_header .bWrap .basket .basket_body .basket_body_top {
  background-color: #1a3456;
  text-transform: uppercase;
  font-family: 'ProximaNova-Bold';
  padding: 29px 20px 24px 20px;
  color: #ffffff;
}
header .top_header .bWrap .basket .basket_body .basket_body_top .total_wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
header .top_header .bWrap .basket .basket_body .basket_body_top .top_button_red {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #eb2645;
  padding: 11.5px 0;
  transition: all 0.3s;
}
header .top_header .bWrap .basket .basket_body .basket_body_top .top_button_red:hover {
  color: #1a3456;
}
header .top_header .bWrap .basket .basket_body .basket_body_content {
  padding: 0 10px 32px 20px;
  border-left: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background-color: #ffffff;
}
header .top_header .bWrap .basket .basket_body .basket_body_content .article_scroll {
  padding-right: 10px;
  max-height: 364px;
  overflow-y: scroll;
  overflow-x: hidden;
}
header .top_header .bWrap .basket .basket_body .basket_body_content .article_scroll::-webkit-scrollbar {
  width: 3px;
}
header .top_header .bWrap .basket .basket_body .basket_body_content .article_scroll::-webkit-scrollbar-button {
  display: none;
}
header .top_header .bWrap .basket .basket_body .basket_body_content .article_scroll::-webkit-scrollbar-thumb {
  background-color: #eb2645;
  border-radius: 3px;
}
header .top_header .bWrap .basket .basket_body .basket_body_content .article_scroll .basket_body_article {
  padding-top: 28px;
}
header .top_header .bWrap .basket .basket_body .basket_body_content .article_scroll .basket_body_article .article_title {
  color: #eb2645;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 16px;
}
header .top_header .bWrap .basket .basket_body .basket_body_content .article_scroll .basket_body_article .article_wrap {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 18px 0;
  font-family: 'ProximaNova-Bold';
}
header .top_header .bWrap .basket .basket_body .basket_body_content .article_scroll .basket_body_article .article_wrap .article_top {
  font-family: 'ProximaNova-Regular';
  display: flex;
  justify-content: space-between;
}
header .top_header .bWrap .basket .basket_body .basket_body_content .article_scroll .basket_body_article .article_wrap .article_top .article_name {
  width: 58%;
  color: #182d47;
  margin-bottom: 18px;
}
header .top_header .bWrap .basket .basket_body .basket_body_content .article_scroll .basket_body_article .article_wrap .article_top .top_count {
  font-size: 0;
}
header .top_header .bWrap .basket .basket_body .basket_body_content .article_scroll .basket_body_article .article_wrap .article_top .top_count .number {
  display: inline-block;
  vertical-align: middle;
  background-color: #f5f6f7;
  border: 1px solid #dbdbdb;
  width: 32px;
  line-height: 32px;
  text-align: center;
  outline: none;
  margin: 0 10px;
}
header .top_header .bWrap .basket .basket_body .basket_body_content .article_scroll .basket_body_article .article_wrap .article_top .top_count .count_action {
  display: inline-block;
  vertical-align: middle;
  font-family: 'ProximaNova-Bold';
  font-size: 22px;
  cursor: pointer;
}
header .top_header .bWrap .basket .basket_body .basket_body_content .article_scroll .basket_body_article .article_wrap .article_bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
header .top_header .bWrap .basket .basket_body .basket_body_content .article_scroll .basket_body_article .article_wrap .article_bottom .article_setting {
  font-size: 0;
  margin-top: -3px;
}
header .top_header .bWrap .basket .basket_body .basket_body_content .article_scroll .basket_body_article .article_wrap .article_bottom .article_setting .setting_version {
  display: inline-block;
  vertical-align: bottom;
  cursor: pointer;
  transition: all 0.3s;
}
header .top_header .bWrap .basket .basket_body .basket_body_content .article_scroll .basket_body_article .article_wrap .article_bottom .article_setting .setting_add {
  width: 22px;
  height: 19px;
  margin-right: 20px;
  background-image: url(../img/basket_img2.png);
}
header .top_header .bWrap .basket .basket_body .basket_body_content .article_scroll .basket_body_article .article_wrap .article_bottom .article_setting .setting_add:hover {
  background-image: url(../img/basket_img2_active.png);
}
header .top_header .bWrap .basket .basket_body .basket_body_content .article_scroll .basket_body_article .article_wrap .article_bottom .article_setting .setting_remove {
  width: 14px;
  height: 18px;
  background-image: url(../img/basket_img1.png);
}
header .top_header .bWrap .basket .basket_body .basket_body_content .article_scroll .basket_body_article .article_wrap .article_bottom .article_setting .setting_remove:hover {
  background-image: url(../img/basket_img1_active.png);
}
header .top_header .bWrap .basket .basket_body .basket_body_content .article_scroll .basket_body_article .article_wrap .article_bottom .prise {
  text-transform: uppercase;
  color: #182d47;
}
header .top_header .bWrap .basket .basket_body .basket_body_content .review_basket {
  display: block;
  width: 100%;
  max-width: 178px;
  background-color: #1a3456;
  padding: 11.5px 0;
  text-align: center;
  margin: 30px auto 0 auto;
  text-transform: uppercase;
  transition: all 0.3s;
}
header .top_header .bWrap .basket .basket_body .basket_body_content .review_basket:hover {
  color: #eb2645;
}
header .top_header .bWrap .basket .basket_body_active {
  display: block;
}
header .top_header .bWrap .top_search {
  display: none;
}
header .top_header .bWrap .favorite {
  display: none;
}
header .top_header .bWrap .other_wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
header .top_header .bWrap .other_wrap .other_link {
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 27px;
  font-size: 11px;
  color: #000000;
  letter-spacing: 0.9px;
}
header .top_header .bWrap .other_wrap .other_link:hover {
  color: #eb2645;
  transition: all 0.3s;
}
header .top_header .bWrap .other_wrap .other_link span {
  display: inline-block;
  width: 10px;
  height: 10px;
}
header .top_header .bWrap .other_wrap .other_link .icon_heart {
  background: url(../img/heart.png) no-repeat center;
  background-size: contain;
}
header .top_header .bWrap .other_wrap .other_link .icon_person {
  background: url(../img/person.png) no-repeat center;
  background-size: cover;
}
header .top_header .bWrap .langwBlock {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 87px;
  margin: 0 26px 0 32px;
}
header .top_header .bWrap .langwBlock .checkLengw {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 16px;
  margin-right: 2px;
}
header .top_header .bWrap .langwBlock .checkLengw:after {
  content: '';
  position: absolute;
  display: none;
  width: 24px;
  height: 16px;
  background-color: rgba(185, 187, 189, 0.8);
}
header .top_header .bWrap .langwBlock .english {
  background-image: url(../img/unitedkingdom.png);
  background-size: cover;
  background-position: 0 -3px;
}
header .top_header .bWrap .langwBlock .french {
  background-image: url(../img/fr.jpg);
}
header .top_header .top_search_field {
  display: none;
  width: 100%;
  height: 50px;
  top: 100%;
  left: 0;
  position: absolute;
  outline: none;
  border: none;
  background-color: #e6e6e6;
  border-bottom: 1px solid #709ed3;
  padding-left: 20px;
  z-index: 5;
}
header .top_header .top_active {
  display: block;
}
header .mid_header {
  position: relative;
  z-index: 4;
  height: 243px;
  margin: 10px;
  background: url(../img/mH_bg.jpg) no-repeat center center;
}
header .mid_header .mid_titel {
  font-family: 'PhosphateSolid';
  letter-spacing: 2.7px;
  color: #2c2f33;
  position: absolute;
  top: 169px;
  left: -5px;
  font-size: 35px;
  line-height: 35px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
header .mid_header .tablet_mid_text {
  position: absolute;
  top: 20%;
  right: 50%;
  transform: translate(50%, 0);
  display: none;
  min-width: 352px;
  color: #ffffff;
  text-align: center;
}
header .mid_header .tablet_mid_text .tablet_titel {
  font-family: 'PhosphateSolid';
  font-size: 53px;
  margin-bottom: -13px;
}
header .mid_header .tablet_mid_text .text_wrap {
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 11px 0;
}
header .mid_header .tablet_mid_text .text_wrap .tablet_text {
  font-family: 'ProximaNova-Regular';
  font-size: 16px;
  color: #1a3456;
}
header .mid_header .tabs_categories {
  display: none;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 0);
  font-family: 'ProximaNova-Bold';
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
header .mid_header .tabs_categories .tabs {
  font-size: 14px;
  padding: 25px 10px;
  background-color: #1a3456;
  width: 172px;
}
header .mid_header .tabs_categories .tabs span {
  display: block;
}
header .mid_header #for_append {
  display: none;
  flex-direction: column;
  align-items: center;
  color: #e6e6e6;
  font-family: 'ProximaNova-Regular';
  text-align: center;
}
header .mid_header #for_append .mob_titel {
  font-size: 19px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'ProximaNova-Bold';
  margin-bottom: 15px;
}
header .mid_header #for_append .mob_titel span {
  display: block;
}
header .mid_header #for_append .interval {
  font-size: 14px;
  text-transform: lowercase;
  margin-bottom: 25px;
}
header .mid_header #for_append .interval span {
  text-transform: uppercase;
  display: block;
  color: #ffffff;
  font-family: 'ProximaNova-Bold';
}
header .mid_header #for_append .first_date {
  position: relative;
  letter-spacing: 0.5px;
  font-family: 'ProximaNova-Regular';
  color: #e6e6e6;
  margin-right: -23px;
  font-size: 14px;
}
header .mid_header #for_append .first_date:after {
  content: '';
  position: absolute;
  transform: translate(0, -50%);
  display: block;
  background-image: url('../img/spritesheet.png');
  background-position: -1263px -594px;
  width: 18px;
  height: 20px;
  top: 38%;
  left: -14%;
}
header .bottom_header {
  background-color: #182d47;
}
header .bottom_header .col-xs-12 {
  position: relative;
}
header .bottom_header .col-xs-12 .search_for_tablet {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 50%;
  transform: translate(0, 50%);
  width: 72px;
  height: 72px;
  background-color: #ffffff;
  cursor: pointer;
}
header .bottom_header .col-xs-12 .search_for_tablet img {
  max-height: 21px;
  max-width: 21px;
}
header .bottom_header .col-xs-12 .searchField {
  display: none;
  width: 100%;
  height: 50px;
  top: 100%;
  left: 0;
  position: absolute;
  outline: none;
  border: none;
  background-color: #e6e6e6;
  border-bottom: 1px solid #709ed3;
  padding-left: 20px;
  z-index: 1;
}
header .bottom_header .col-xs-12 .activeSearch {
  display: block;
}
header .bottom_header .col-xs-12 .search {
  position: absolute;
  right: 10px;
  bottom: 52%;
  transform: translate(0, 50%);
}
header .bottom_header .col-xs-12 .search .searchButton {
  position: absolute;
  bottom: 52%;
  left: 20px;
  transform: translate(0, 50%);
  background-image: url(../img/forI.png);
  display: block;
  height: 21px;
  width: 21px;
  outline: 0;
  border: 0;
  color: transparent;
  background-color: transparent;
  cursor: pointer;
}
header .bottom_header .col-xs-12 .search .searchText {
  min-width: 310px;
  height: 53px;
  outline: none;
  padding-left: 52px;
  border: none;
}
header .bottom_header .col-xs-12 .search .searchText::-webkit-input-placeholder {
  font-family: 'ProximaNova-Bold';
  letter-spacing: 0.8px;
}
header .bottom_header .col-xs-12 .search .searchText::-moz-placeholder {
  font-family: 'ProximaNova-Bold';
}
header .bottom_header .col-xs-12 .search .searchText:-moz-placeholder {
  font-family: 'ProximaNova-Bold';
}
header .bottom_header .col-xs-12 .search .searchText:-ms-input-placeholder {
  font-family: 'ProximaNova-Bold';
}
header .bottom_header .col-xs-12 .bh_text_block {
  font-family: 'ProximaNova-Bold';
  font-size: 14px;
  color: #eb2645;
  display: none;
  align-items: center;
  padding: 20px 0 17px 0;
}
header .bottom_header .col-xs-12 .bh_text_block .bh_number {
  padding: 6px 12px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #eb2645;
}
header .bottom_header .col-xs-12 .mob_bottom_text {
  display: none;
  padding: 23px 0;
}
header .bottom_header .col-xs-12 .mainMenu {
  padding: 5px 0 4px 3%;
  font-size: 0;
  display: block;
  width: 100%;
  position: relative;
}
header .bottom_header .col-xs-12 .mainMenu .items {
  display: inline-block;
  font-size: 13px;
  letter-spacing: 0.3px;
  border-right: 1px solid #4f5f73;
}
header .bottom_header .col-xs-12 .mainMenu .items:hover > .subMenu {
  visibility: visible;
  opacity: 1;
}
header .bottom_header .col-xs-12 .mainMenu .items .link {
  display: table-cell;
  padding: 0 26px;
  height: 63px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-family: 'ProximaNova-Bold';
  color: #ffffff;
}
header .bottom_header .col-xs-12 .mainMenu .items .link:hover {
  background-color: #ffffff;
  color: #182d47;
  box-shadow: 0 4px #ffffff;
  transition: all 0.3s;
}
header .bottom_header .col-xs-12 .mainMenu .items .link span {
  display: block;
}
header .bottom_header .col-xs-12 .mainMenu .items .subMenu {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.3s;
  position: absolute;
  z-index: 5;
  top: 100%;
  left: 0;
  width: 100%;
  padding-top: 26px;
  min-height: 235px;
  font-size: 14px;
  background-color: #ffffff;
  box-shadow: 0 3px 18px -5px rgba(0, 0, 0, 0.2);
}
header .bottom_header .col-xs-12 .mainMenu .items .subMenu .redItems {
  display: block;
  min-height: 165px;
  border-right: 1px solid #e6e6e6;
}
header .bottom_header .col-xs-12 .mainMenu .items .subMenu .redItems span {
  color: #eb2645;
  font-family: 'ProximaNova-Bold';
  display: block;
  text-transform: uppercase;
  margin-bottom: 18px;
}
header .bottom_header .col-xs-12 .mainMenu .items .subMenu .redItems .thirdMenu li {
  font-size: 14px;
  margin-bottom: 10px;
}
header .bottom_header .col-xs-12 .mainMenu .items .subMenu .redItems .thirdMenu a {
  color: #182d47;
}
@media (max-width: 1199px) {
  header .mid_header .mid_titel {
    font-size: 30px;
  }
  header .bottom_header .col-xs-12 .search .searchText {
    min-width: 260px;
  }
  header .bottom_header .col-xs-12 .mainMenu {
    padding-left: 0;
  }
  header .bottom_header .col-xs-12 .mainMenu .items {
    font-size: 12px;
  }
  header .bottom_header .col-xs-12 .mainMenu .items .link {
    padding: 0 15px;
  }
  header .bottom_header .col-xs-12 .mainMenu .items .subMenu {
    font-size: 12px;
  }
  header .bottom_header .col-xs-12 .mainMenu .items .subMenu .redItems .thirdMenu li {
    font-size: 12px;
  }
}
@media only screen and (max-width: 991px) {
  header .mid_header .mid_titel {
    line-height: 30px;
    font-size: 30px;
  }
  header .bottom_header .col-xs-12 .search_for_tablet {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .bottom_header .col-xs-12 .search {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  header .top_header {
    box-shadow: none;
  }
  header .top_header .logo_wrap .tablet_menu {
    display: block;
  }
  header .top_header .bWrap .rightItem {
    width: 60px;
    height: 70px;
  }
  header .top_header .bWrap .basket .count {
    top: 12px;
  }
  header .top_header .bWrap .top_search {
    display: block;
  }
  header .top_header .bWrap .favorite {
    display: block;
  }
  header .top_header .bWrap .langwBlock {
    display: none;
  }
  header .top_header .bWrap .other_wrap {
    display: none;
  }
  header .mid_header {
    background: url(../img/img_tablet.png);
    margin: 0;
    height: 314px;
  }
  header .mid_header .mid_titel {
    display: none;
  }
  header .mid_header .tablet_mid_text {
    display: block;
  }
  header .mid_header .tabs_categories {
    display: flex;
  }
  header .bottom_header {
    background-color: #ffffff;
  }
  header .bottom_header .col-xs-12 .search_for_tablet {
    width: 21px;
    right: 10px;
  }
  header .bottom_header .col-xs-12 .bh_text_block {
    display: flex;
  }
  header .bottom_header .col-xs-12 .mainMenu {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  header .top_header .logo_wrap .logo {
    background: url(../img/logo_mob.jpg) no-repeat center;
  }
  header .top_header .bWrap .rightItem {
    height: 60px;
  }
  header .top_header .bWrap .basket .count {
    top: 10px;
    right: 10px;
  }
  header .top_header .bWrap .top_search {
    display: none;
  }
  header .top_header .bWrap .favorite {
    display: none;
  }
  header .mid_header {
    padding-top: 45px;
    height: 218px;
  }
  header .mid_header #for_append {
    display: flex;
  }
  header .mid_header .tablet_mid_text {
    display: none;
  }
  header .mid_header .tabs_categories {
    display: none;
  }
  header .bottom_header .col-xs-12 .bh_text_block {
    display: none;
  }
  header .bottom_header .col-xs-12 .search_for_tablet {
    display: none;
  }
  header .bottom_header .col-xs-12 .mob_bottom_text {
    display: block;
  }
}
.main-block .nowrap_row {
  display: flex;
}
.main-block .nowrap_row .filter_block {
  width: 270px;
  margin-left: 10px;
  font-size: 14px;
  font-family: 'ProximaNova-Bold';
}
.main-block .nowrap_row .filter_block .filter_block_titel {
  text-transform: uppercase;
  margin: 21px 0 17px 0;
}
.main-block .nowrap_row .filter_block #filter_accordeon .accordeon_head,
.main-block .nowrap_row .filter_block #filter_accordeon .accordeon_top_head {
  display: block;
  cursor: pointer;
  background: #eb2645;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0 20px;
  position: relative;
}
.main-block .nowrap_row .filter_block #filter_accordeon .accordeon_head .head_inside,
.main-block .nowrap_row .filter_block #filter_accordeon .accordeon_top_head .head_inside {
  border-bottom: 1px solid #ffffff;
  display: block;
  padding: 17.5px 0;
}
.main-block .nowrap_row .filter_block #filter_accordeon .accordeon_head .without_border,
.main-block .nowrap_row .filter_block #filter_accordeon .accordeon_top_head .without_border {
  border-bottom: 0;
}
.main-block .nowrap_row .filter_block #filter_accordeon .accordeon_head:after {
  content: '';
  display: block;
  position: absolute;
  right: 20px;
  bottom: 50%;
  transform: translate(0, 50%);
  border: transparent 5px solid;
  border-top: #ffffff 5px solid;
}
.main-block .nowrap_row .filter_block #filter_accordeon .accordeon_top_head:after {
  content: '';
  display: block;
  position: absolute;
  right: 20px;
  bottom: 50%;
  transform: translate(0, 50%);
  border: transparent 5px solid;
  border-bottom: #ffffff 5px solid;
}
.main-block .nowrap_row .filter_block #filter_accordeon .accordeon_body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}
.main-block .nowrap_row .filter_block #filter_accordeon .accordeon_body .seller_wrap {
  background: #f7f7f7;
  border: 1px solid #e6e6e6;
  padding: 14px 0 14px 19px;
  margin-bottom: 10px;
  position: relative;
}
.main-block .nowrap_row .filter_block #filter_accordeon .accordeon_body .seller_wrap .about_seller {
  font-size: 13px;
}
.main-block .nowrap_row .filter_block #filter_accordeon .accordeon_body .seller_wrap .about_seller span {
  display: block;
}
.main-block .nowrap_row .filter_block #filter_accordeon .accordeon_body .seller_wrap .remove_seller {
  position: absolute;
  right: 20px;
  bottom: 50%;
  transform: translate(0, 50%);
  width: 9px;
  height: 9px;
  cursor: pointer;
}
.main-block .nowrap_row .filter_block #filter_accordeon .accordeon_body .seller_wrap .remove_seller:after,
.main-block .nowrap_row .filter_block #filter_accordeon .accordeon_body .seller_wrap .remove_seller:before {
  position: absolute;
  content: '';
  display: block;
  width: 9px;
  height: 2px;
  background-color: #182d47;
  bottom: 50%;
  transform: translate(0, 50%);
}
.main-block .nowrap_row .filter_block #filter_accordeon .accordeon_body .seller_wrap .remove_seller:after {
  transform: rotate(45deg);
}
.main-block .nowrap_row .filter_block #filter_accordeon .accordeon_body .seller_wrap .remove_seller:before {
  transform: rotate(-45deg);
}
.main-block .nowrap_row .filter_block #filter_accordeon .accordeon_body .check_seller_wrap {
  display: flex;
  font-family: 'ProximaNova-Regular';
  align-items: center;
  position: relative;
  padding: 12.5px 35px 12.5px 20px;
  border-bottom: 1px solid #e6e6e6;
}
.main-block .nowrap_row .filter_block #filter_accordeon .accordeon_body .check_seller_wrap .seller_checkbox {
  width: 20px;
  height: 20px;
}
.main-block .nowrap_row .filter_block #filter_accordeon .accordeon_body .check_seller_wrap .seller_name span {
  display: block;
}
.main-block .nowrap_row .filter_block #filter_accordeon .accordeon_body .check_seller_wrap .count_of_seller {
  position: absolute;
  right: 15px;
  bottom: 50%;
  transform: translate(0, 50%);
}
.main-block .nowrap_row .filter_block #filter_accordeon .accordeon_body_active {
  max-height: 300px;
}
.main-block .nowrap_row .filter_block .filter_info_wrap {
  font-family: 'ProximaNova-Regular';
  background-color: #1a3456;
  color: #ffffff;
  padding: 42px 20px 49px;
  margin-top: 20px;
}
.main-block .nowrap_row .filter_block .filter_info_wrap .titel_wrap {
  display: flex;
  margin-bottom: 25px;
}
.main-block .nowrap_row .filter_block .filter_info_wrap .titel_wrap .titel_img {
  margin-right: 20px;
}
.main-block .nowrap_row .filter_block .filter_info_wrap .titel_wrap .info_titel {
  font-family: 'ProximaNova-Bold';
  font-size: 16px;
}
.main-block .nowrap_row .filter_block .filter_info_wrap .main_info {
  margin-bottom: 30px;
}
.main-block .nowrap_row .filter_block .filter_info_wrap .info_link {
  display: block;
  padding-left: 20px;
  position: relative;
  transition: all 0.3s;
}
.main-block .nowrap_row .filter_block .filter_info_wrap .info_link:hover {
  color: #eb2645;
}
.main-block .nowrap_row .filter_block .filter_info_wrap .info_link:before {
  display: block;
  font-family: 'iconspuck';
  content: '\E801';
  position: absolute;
  left: 0;
  bottom: 50%;
  transform: translate(0, 50%);
  color: #eb2645;
}
.main-block .nowrap_row .article_block {
  font-family: 'ProximaNova-Bold';
}
.main-block .nowrap_row .article_block .count_wrap {
  display: flex;
  align-items: center;
}
.main-block .nowrap_row .article_block .count_wrap .article_count {
  font-family: 16px;
  text-transform: uppercase;
}
.main-block .nowrap_row .article_block .count_wrap .article_count span {
  color: #eb2645;
}
.main-block .nowrap_row .article_block .settings_wrap {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1px solid #e6e6e6;
}
.main-block .nowrap_row .article_block .settings_wrap select {
  outline: none;
  border: 0;
  background-color: transparent;
  font-size: 14px;
  color: #182d47;
}
.main-block .nowrap_row .article_block .settings_wrap #sort_by_prise {
  margin-left: 30px;
}
.main-block .nowrap_row .article_block .settings_wrap .view_wrap {
  display: flex;
  margin-left: 14px;
  padding: 11px 0 7px 0;
}
.main-block .nowrap_row .article_block .settings_wrap .view_wrap .views {
  padding: 17px;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  position: relative;
  margin-left: 6px;
  transition: all 0.3s;
}
.main-block .nowrap_row .article_block .settings_wrap .view_wrap .views:hover {
  border: 1px solid #eb2645;
}
.main-block .nowrap_row .article_block .settings_wrap .view_wrap .views .inner_views {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.main-block .nowrap_row .article_block .settings_wrap .view_wrap .views .in_lines {
  background: url(../img/inList.png) no-repeat center;
}
.main-block .nowrap_row .article_block .settings_wrap .view_wrap .views .in_cols {
  background: url(../img/inCols.png) no-repeat center;
}
.main-block .nowrap_row .article_block .merchandaises {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.main-block .nowrap_row .article_block .merchandaises .bgWrap {
  padding-top: 30px;
  margin: 0 -10px;
}
.main-block .nowrap_row .article_block .merchandaises .bgWrap .merchandisesWrap {
  width: 136px;
  height: 136px;
  margin: 0 auto;
}
.main-block .nowrap_row .article_block .merchandaises .bgWrap .merchandisesWrap img {
  width: 100%;
}
.main-block .nowrap_row .article_block .merchandaises .bgWrap .merch_info_wrap {
  padding-top: 28px;
}
.main-block .nowrap_row .article_block .merchandaises .bgWrap .merch_info_wrap .merch_name {
  font-size: 18px;
}
.main-block .nowrap_row .article_block .merchandaises .bgWrap .merch_info_wrap .merch_status {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  text-align: left;
  color: #afb1b2;
  position: relative;
  margin: 17px 17px 6px 17px;
  letter-spacing: 0.3px;
}
.main-block .nowrap_row .article_block .merchandaises .bgWrap .merch_info_wrap .merch_status:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #30b834;
  position: absolute;
  border-radius: 50%;
  bottom: 50%;
  transform: translate(0, 40%);
  left: -16px;
}
.main-block .nowrap_row .article_block .merchandaises .bgWrap .merch_button_wrap .merch_prise {
  font-size: 18px;
  text-align: left;
  margin-bottom: 23px;
  letter-spacing: 0.3px;
}
.main-block .nowrap_row .article_block .merchandaises .bgWrap .merch_button_wrap .merch_prise span {
  font-family: 'ProximaNova-Regular';
  font-size: 14px;
  letter-spacing: 0.2px;
}
.main-block .nowrap_row .article_block .merchandaises .bgWrap .merch_button_wrap .merch_button {
  font-size: 14px;
  display: inline-block;
  color: #ffffff;
  background: #eb2645;
  min-width: 172px;
  text-transform: uppercase;
  padding: 11.5px 0;
  text-align: center;
}
.main-block .nowrap_row .article_block .merchandaises .bgWrap .merch_button_wrap .merch_button:hover {
  color: #182d47;
  transition: all 0.3s;
}
.main-block .nowrap_row .article_block .merchandaises .new_merch {
  position: relative;
}
.main-block .nowrap_row .article_block .merchandaises .new_merch:before {
  position: absolute;
  display: block;
  content: '';
  border: 60px solid transparent;
  border-bottom: 60px solid #eb2645;
  top: -61px;
  left: -71px;
  transform: rotate(-45deg);
}
.main-block .nowrap_row .article_block .merchandaises .new_merch:after {
  position: absolute;
  content: 'nouveau';
  top: 15px;
  left: -15px;
  transform: rotate(-45deg);
  color: #ffffff;
}
.top_footer {
  font-size: 0;
  text-transform: uppercase;
  background-color: #e31d3c;
  padding: 30px 0 28px 0;
  font-family: 'ProximaNova-Bold';
}
.top_footer .topFooterItem {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
.top_footer .topFooterItem .answers {
  font-size: 14px;
  margin-right: 8%;
  letter-spacing: 0.2px;
  float: right;
}
.top_footer .topFooterItem .usefulLinks {
  margin-left: 15px;
}
.top_footer .topFooterItem .usefulLinks li {
  position: relative;
  display: inline-block;
  margin-right: 6.6%;
}
.top_footer .topFooterItem .usefulLinks li:last-child {
  margin-right: 0;
}
.top_footer .topFooterItem .usefulLinks li a {
  font-size: 12px;
}
.top_footer .topFooterItem .usefulLinks li a:hover {
  color: #182d47;
  transition: all 0.3s;
}
.top_footer .topFooterItem .usefulLinks li a span {
  display: inline-block;
  vertical-align: middle;
}
.top_footer .topFooterItem .usefulLinks li a .img {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.top_footer .topFooterItem .usefulLinks li a .faq {
  background-image: url(../img/spritesheet.png);
  background-position: -1213px -464px;
}
.top_footer .topFooterItem .usefulLinks li a .tchat {
  background-image: url(../img/spritesheet.png);
  background-position: -1213px -404px;
}
.top_footer .topFooterItem .usefulLinks li a .appeler {
  background-image: url(../img/spritesheet.png);
  background-position: -1213px -580px;
  height: 18px;
}
.top_footer .topFooterItem .usefulLinks li a .contact {
  background-image: url(../img/spritesheet.png);
  background-position: -1213px -598px;
  height: 16px;
}
.mid_footer {
  padding: 46px 0 39px 0;
  background-color: #182d47;
  color: #b9bbbd;
}
.mid_footer .main_col {
  display: flex;
  flex-wrap: wrap;
}
.mid_footer .main_col .servises {
  text-align: center;
  padding-bottom: 35px;
}
.mid_footer .main_col .servises h3 {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 24px;
  font-family: 'ProximaNova-Black';
}
.mid_footer .main_col .servises h3:after {
  content: '';
  display: block;
  position: absolute;
  right: 50%;
  bottom: -12px;
  transform: translate(50%, 0);
  height: 3px;
  width: 18px;
  background-color: #eb2645;
}
.mid_footer .main_col .servises a {
  font-size: 14px;
  letter-spacing: 0.2px;
  padding-bottom: 1px;
}
.mid_footer .main_col .servises a span {
  display: block;
}
.mid_footer .main_col .callBack h3 {
  font-size: 19px;
  font-family: 'ProximaNova-Bold';
  letter-spacing: 0.4px;
}
.mid_footer .main_col .callBack p {
  font-size: 14px;
  letter-spacing: 0.1px;
  padding-top: 3px;
}
.mid_footer .main_col .callBack form {
  position: relative;
  margin-top: 19px;
  min-height: 52px;
}
.mid_footer .main_col .callBack form input {
  outline: none;
  border: none;
}
.mid_footer .main_col .callBack form .textField {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 290px;
  height: 52px;
  padding-left: 20px;
}
.mid_footer .main_col .callBack form .iButton {
  position: absolute;
  bottom: 50%;
  right: 4%;
  transform: translate(0, 50%);
  width: 42px;
  height: 42px;
  font-size: 16px;
  color: #ffffff;
  background-color: #eb2645;
}
.mid_footer .main_col .callBack form .iButton:hover {
  border-radius: 20%;
  border: 2px solid #182d47;
  transition: all 0.4s;
}
.mid_footer .main_col .social {
  padding-top: 25px;
}
.mid_footer .main_col .social .social_wrap {
  display: inline-block;
}
.mid_footer .main_col .social .social_wrap h3 {
  font-size: 17px;
  font-family: 'ProximaNova-Bold';
  letter-spacing: 0.3px;
}
.mid_footer .main_col .social .social_wrap p {
  font-size: 14px;
  letter-spacing: 0.1px;
  padding-top: 4px;
}
.mid_footer .main_col .social .social_wrap .socialIcon {
  font-size: 0;
  padding-top: 18px;
  margin-left: -1px;
}
.mid_footer .main_col .social .social_wrap .socialIcon li {
  display: inline-block;
}
.mid_footer .main_col .social .social_wrap .socialIcon li a {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 14px;
  border-radius: 50%;
}
.mid_footer .main_col .social .social_wrap .socialIcon li a:hover {
  box-shadow: inset 0 0 0 2px #eb2645;
  border-radius: 50%;
  transition: all 0.4s;
}
.mid_footer .main_col .social .social_wrap .socialIcon .fIcon {
  background-image: url(../img/spritesheet.png);
  background-position: -901px -291px;
}
.mid_footer .main_col .social .social_wrap .socialIcon .tIcon {
  background-image: url(../img/spritesheet.png);
  background-position: -870px -291px;
}
.mid_footer .main_col .social .social_wrap .socialIcon .yIcon {
  background-image: url(../img/spritesheet.png);
  background-position: -935px -243px;
}
.mid_footer .main_col .social .social_wrap .socialIcon .inIcon {
  background-image: url(../img/spritesheet.png);
  background-position: -839px -291px;
}
.mid_footer .main_col .otherLinks {
  margin-left: 105px;
  display: flex;
  justify-content: flex-end;
}
.mid_footer .main_col .otherLinks .other_wrap h3 {
  font-size: 19px;
  font-family: 'ProximaNova-Bold';
  letter-spacing: 0.4px;
}
.mid_footer .main_col .otherLinks .other_wrap p {
  font-size: 14px;
  letter-spacing: 0.1px;
  padding: 3px 0 20px 0;
}
.mid_footer .main_col .otherLinks .other_wrap .link {
  display: block;
  font-size: 14px;
  color: #85776e;
  letter-spacing: 0.1px;
  padding-bottom: 6px;
}
.bottom_footer {
  background-color: #182d47;
  color: #9a9d9f;
}
.bottom_footer .forLine {
  border-top: 1px solid #2b5180;
  margin: 0 9px;
  padding: 18px 0 25px 0;
}
.bottom_footer .forLine .copyright {
  float: left;
  font-size: 12px;
}
.bottom_footer .forLine ul {
  float: right;
  font-size: 0;
}
.bottom_footer .forLine ul li {
  display: inline-block;
  font-size: 14px;
  margin-left: 55px;
}
.bottom_footer .forLine ul li a {
  color: #9a9d9f;
}
.bottom_footer .forLine ul li a:hover {
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .mid_footer .main_col .servises h3 {
    font-size: 15px;
  }
  .mid_footer .main_col .servises a {
    font-size: 12px;
  }
  .mid_footer .main_col .second {
    order: 2;
  }
  .mid_footer .main_col .third {
    order: 3;
  }
  .mid_footer .main_col .forth {
    order: 4;
  }
  .mid_footer .main_col .social {
    position: relative;
    padding: 0;
  }
  .mid_footer .main_col .social .social_wrap {
    position: absolute;
    left: 30%;
    text-align: center;
  }
  .mid_footer .main_col .social .social_wrap h3 {
    font-size: 15px;
  }
  .mid_footer .main_col .social .social_wrap p {
    font-size: 12px;
  }
  .mid_footer .main_col .otherLinks {
    margin-left: 0;
  }
  .mid_footer .main_col .otherLinks .other_wrap h3 {
    font-size: 15px;
  }
  .mid_footer .main_col .otherLinks .other_wrap p {
    font-size: 12px;
  }
  .mid_footer .main_col .callBack h3 {
    font-size: 15px;
  }
  .mid_footer .main_col .callBack p {
    font-size: 12px;
  }
  .bottom_footer .forLine ul li {
    margin-left: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .mid_footer .main_col .servises h3 {
    font-size: 12px;
  }
  .mid_footer .main_col .servises a {
    font-size: 10px;
  }
  .bottom_footer .forLine ul li {
    margin-left: 20px;
    font-size: 12px;
  }
  .bottom_footer .forLine ul .hide_in_tablet {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  .top_footer {
    padding: 30px 0 0 10px;
  }
  .top_footer .topFooterItem .usefulLinks {
    font-size: 0;
    margin-left: 0;
  }
  .top_footer .topFooterItem .usefulLinks li {
    width: 50%;
    margin: 0 0 30px 0;
  }
  .top_footer .topFooterItem .answers {
    float: none;
    display: block;
    margin: 0 0 28px 0;
  }
}
@font-face {
  font-family: 'PhosphateSolid';
  src: url('../fonts/PhosphateSolid/PhosphateSolid.eot');
  src: url('../fonts/PhosphateSolid/PhosphateSolid.eot#iefix') format('embedded-opentype'), url('../fonts/PhosphateSolid/PhosphateSolid.woff') format('woff'), url('../fonts/PhosphateSolid/PhosphateSolid.ttf') format('truetype'), url('../fonts/PhosphateSolid/PhosphateSolid.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold/ProximaNova-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular/ProximaNova-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Black';
  src: url('../fonts/ProximaNova-Black/ProximaNova-Black.eot');
  src: url('../fonts/ProximaNova-Black/ProximaNova-Black.eot#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Black/ProximaNova-Black.woff') format('woff'), url('../fonts/ProximaNova-Black/ProximaNova-Black.ttf') format('truetype'), url('../fonts/ProximaNova-Black/ProximaNova-Black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media only screen and (max-width: 1199px) {
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11 {
    width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11 {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11 {
    width: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11 {
    width: 100%;
  }
}
.col-style {
  padding: 0 10px;
  flex-direction: row;
}
.container {
  max-width: 1380px;
  margin-right: auto;
  margin-left: auto;
}
.Pcontainer {
  max-width: 1380px;
  padding: 0 40px;
  margin-right: auto;
  margin-left: auto;
}
.container_for_catalog {
  max-width: 970px;
  padding-left: 40px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.row_jc_center {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.col-xs-1 {
  width: 8.333333333333333%;
  padding: 0 10px;
  flex-direction: row;
}
.col-xs-2 {
  width: 16.66666666666667%;
  padding: 0 10px;
  flex-direction: row;
}
.col-xs-3 {
  width: 25%;
  padding: 0 10px;
  flex-direction: row;
}
.col-xs-4 {
  width: 33.33333333333333%;
  padding: 0 10px;
  flex-direction: row;
}
.col-xs-5 {
  width: 41.66666666666667%;
  padding: 0 10px;
  flex-direction: row;
}
.col-xs-6 {
  width: 50%;
  padding: 0 10px;
  flex-direction: row;
}
.col-xs-7 {
  width: 58.33333333333333%;
  padding: 0 10px;
  flex-direction: row;
}
.col-xs-8 {
  width: 66.66666666666667%;
  padding: 0 10px;
  flex-direction: row;
}
.col-xs-9 {
  width: 75%;
  padding: 0 10px;
  flex-direction: row;
}
.col-xs-10 {
  width: 83.33333333333333%;
  padding: 0 10px;
  flex-direction: row;
}
.col-xs-11 {
  width: 91.66666666666666%;
  padding: 0 10px;
  flex-direction: row;
}
.col-xs-12 {
  width: 100%;
  padding: 0 10px;
  flex-direction: row;
}
@media (min-width: 575px) {
  .col-sm-1 {
    width: 8.333333333333333%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-sm-2 {
    width: 16.66666666666667%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-sm-3 {
    width: 25%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-sm-4 {
    width: 33.33333333333333%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-sm-5 {
    width: 41.66666666666667%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-sm-6 {
    width: 50%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-sm-7 {
    width: 58.33333333333333%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-sm-8 {
    width: 66.66666666666667%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-sm-9 {
    width: 75%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-sm-10 {
    width: 83.33333333333333%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-sm-11 {
    width: 91.66666666666666%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-sm-12 {
    width: 100%;
    padding: 0 10px;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.333333333333333%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-md-2 {
    width: 16.66666666666667%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-md-3 {
    width: 25%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-md-4 {
    width: 33.33333333333333%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-md-5 {
    width: 41.66666666666667%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-md-6 {
    width: 50%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-md-7 {
    width: 58.33333333333333%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-md-8 {
    width: 66.66666666666667%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-md-9 {
    width: 75%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-md-10 {
    width: 83.33333333333333%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-md-11 {
    width: 91.66666666666666%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-md-12 {
    width: 100%;
    padding: 0 10px;
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.333333333333333%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-lg-2 {
    width: 16.66666666666667%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-lg-3 {
    width: 25%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-lg-4 {
    width: 33.33333333333333%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-lg-5 {
    width: 41.66666666666667%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-lg-6 {
    width: 50%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-lg-7 {
    width: 58.33333333333333%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-lg-8 {
    width: 66.66666666666667%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-lg-9 {
    width: 75%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-lg-10 {
    width: 83.33333333333333%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-lg-11 {
    width: 91.66666666666666%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-lg-12 {
    width: 100%;
    padding: 0 10px;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.333333333333333%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-xl-2 {
    width: 16.66666666666667%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-xl-3 {
    width: 25%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-xl-4 {
    width: 33.33333333333333%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-xl-5 {
    width: 41.66666666666667%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-xl-6 {
    width: 50%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-xl-7 {
    width: 58.33333333333333%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-xl-8 {
    width: 66.66666666666667%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-xl-9 {
    width: 75%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-xl-10 {
    width: 83.33333333333333%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-xl-11 {
    width: 91.66666666666666%;
    padding: 0 10px;
    flex-direction: row;
  }
  .col-xl-12 {
    width: 100%;
    padding: 0 10px;
    flex-direction: row;
  }
}
.withoutPL {
  padding-left: 0;
}
.withoutPR {
  padding-right: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
html {
  min-height: 100vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  opacity: 1;
  font-family: 'ProximaNova-Regular';
}
a {
  text-decoration: none;
  color: #ffffff;
}
.active {
  display: block;
}
.flex_cross_center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.after_arrow {
  content: '';
  display: block;
  position: absolute;
  right: 20px;
  bottom: 50%;
  transform: translate(0, 50%);
  border: transparent 5px solid;
}
