html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
html {
  min-height: 100vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  opacity: 1;
  font-family: 'ProximaNova-Regular';
}
a {
  text-decoration: none;
  color: #ffffff;
}
@font-face {
  font-family: 'PhosphateSolid';
  src: url('../fonts/PhosphateSolid/PhosphateSolid.eot');
  src: url('../fonts/PhosphateSolid/PhosphateSolid.eot#iefix') format('embedded-opentype'), url('../fonts/PhosphateSolid/PhosphateSolid.woff') format('woff'), url('../fonts/PhosphateSolid/PhosphateSolid.ttf') format('truetype'), url('../fonts/PhosphateSolid/PhosphateSolid.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold/ProximaNova-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular/ProximaNova-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Black';
  src: url('../fonts/ProximaNova-Black/ProximaNova-Black.eot');
  src: url('../fonts/ProximaNova-Black/ProximaNova-Black.eot#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Black/ProximaNova-Black.woff') format('woff'), url('../fonts/ProximaNova-Black/ProximaNova-Black.ttf') format('truetype'), url('../fonts/ProximaNova-Black/ProximaNova-Black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.col-style {
  padding: 0 10px;
  float: left;
}
.container {
  max-width: 1380px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (max-width: 991px) {
  .container {
    max-width: 970px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    max-width: 750px;
  }
}
.Pcontainer {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}
.Pcontainer:after {
  display: block;
  content: "";
  clear: both;
}
.row:after {
  display: block;
  content: "";
  clear: both;
}
.col-xl-1,
.col-lg-1,
.col-md-1,
.col-sm-1 {
  width: 8.333333333333333%;
  padding: 0 10px;
  float: left;
}
.col-xl-2,
.col-lg-2,
.col-md-2,
.col-sm-2 {
  width: 16.66666666666667%;
  padding: 0 10px;
  float: left;
}
.col-xl-3,
.col-lg-3,
.col-md-3,
.col-sm-3 {
  width: 25%;
  padding: 0 10px;
  float: left;
}
.col-xl-4,
.col-lg-4,
.col-md-4,
.col-sm-4 {
  width: 33.33333333333333%;
  padding: 0 10px;
  float: left;
}
.col-xl-5,
.col-lg-5,
.col-md-5,
.col-sm-5 {
  width: 41.66666666666667%;
  padding: 0 10px;
  float: left;
}
.col-xl-6,
.col-lg-6,
.col-md-6,
.col-sm-6 {
  width: 50%;
  padding: 0 10px;
  float: left;
}
.col-xl-7,
.col-lg-7,
.col-md-7,
.col-sm-7 {
  width: 58.33333333333333%;
  padding: 0 10px;
  float: left;
}
.col-xl-8,
.col-lg-8,
.col-md-8,
.col-sm-8 {
  width: 66.66666666666667%;
  padding: 0 10px;
  float: left;
}
.col-xl-9,
.col-lg-9,
.col-md-9,
.col-sm-9 {
  width: 75%;
  padding: 0 10px;
  float: left;
}
.col-xl-10,
.col-lg-10,
.col-md-10,
.col-sm-10 {
  width: 83.33333333333333%;
  padding: 0 10px;
  float: left;
}
.col-xl-11,
.col-lg-11,
.col-md-11,
.col-sm-11 {
  width: 91.66666666666666%;
  padding: 0 10px;
  float: left;
}
.col-xl-12,
.col-lg-12,
.col-md-12,
.col-sm-12 {
  width: 100%;
  padding: 0 10px;
  float: left;
}
@media only screen and (max-width: 1199px) {
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11 {
    width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11 {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11 {
    width: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11 {
    width: 100%;
  }
}
.withoutPL {
  padding-left: 0;
}
.withoutPR {
  padding-right: 0;
}
.header-block .topHeader {
  box-shadow: 0px 3px 18px -5px rgba(0, 0, 0, 0.2);
}
.header-block .topHeader a {
  display: inline-block;
}
.header-block .topHeader .logo {
  margin: 14.5px 0 0 9%;
  float: left;
  background-image: url(../img/logo.jpg);
  width: 197px;
  height: 54px;
}
.header-block .topHeader .bWrap {
  float: right;
  font-family: 'ProximaNova-Bold';
}
.header-block .topHeader .bWrap .basket {
  position: relative;
  float: right;
  height: 83px;
  width: 104px;
  background: url(../img/basket.png) no-repeat center;
  background-color: #eb2645;
}
.header-block .topHeader .bWrap .basket .count {
  position: absolute;
  font-size: 11px;
  top: 17px;
  right: 17px;
}
.header-block .topHeader .bWrap .otherLink {
  float: right;
  text-transform: uppercase;
  text-decoration: none;
  margin: 36px 0 0 27px;
  font-size: 11px;
  color: #000;
  letter-spacing: 0.9px;
}
.header-block .topHeader .bWrap .otherLink:hover {
  color: #eb2645;
  transition: all 0.3s;
}
.header-block .topHeader .bWrap .otherLink span {
  display: inline-block;
  width: 10px;
  height: 10px;
}
.header-block .topHeader .bWrap .otherLink .iconHeart {
  background: url(../img/heart.png) no-repeat center;
  background-size: contain;
}
.header-block .topHeader .bWrap .otherLink .iconPerson {
  background: url(../img/person.png) no-repeat center;
  background-size: cover;
}
.header-block .topHeader .bWrap .langwBlock {
  float: right;
  margin: 33.5px 26px 0 32px;
}
.header-block .topHeader .bWrap .langwBlock .checkLengw {
  display: inline-block;
  width: 24px;
  height: 16px;
  margin-right: 2px;
}
.header-block .topHeader .bWrap .langwBlock .english {
  background-image: url(../img/unitedkingdom.png);
  background-size: cover;
  background-position: 0 -3px;
}
.header-block .topHeader .bWrap .langwBlock .french {
  background-image: url(../img/fr.jpg);
}
.header-block .midHeader {
  position: relative;
  height: 243px;
  margin: 10px;
  background: url(../img/mH_bg.jpg) no-repeat center center;
}
.header-block .midHeader h3 {
  font-family: 'PhosphateSolid';
  letter-spacing: 2.7px;
  color: #2c2f33;
  position: absolute;
  bottom: 54px;
  left: -5px;
  font-size: 35px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.header-block .bottomHeader {
  background-color: #182d47;
}
.header-block .bottomHeader .col-md-12 {
  position: relative;
}
.header-block .bottomHeader .col-md-12 .search {
  position: absolute;
  right: 10px;
  bottom: 52%;
  transform: translate(0, 50%);
}
.header-block .bottomHeader .col-md-12 .search:after {
  position: absolute;
  bottom: 52%;
  left: 20px;
  transform: translate(0, 50%);
  background-image: url(../img/forI.png);
  content: '';
  display: block;
  height: 21px;
  width: 21px;
}
.header-block .bottomHeader .col-md-12 .search input {
  min-width: 310px;
  height: 53px;
  outline: none;
  padding-left: 52px;
  border: none;
}
.header-block .bottomHeader .col-md-12 .search input::-webkit-input-placeholder {
  font-family: 'ProximaNova-Bold';
  letter-spacing: 0.8px;
}
.header-block .bottomHeader .col-md-12 .search input::-moz-placeholder {
  font-family: 'ProximaNova-Bold';
}
.header-block .bottomHeader .col-md-12 .search input:-moz-placeholder {
  font-family: 'ProximaNova-Bold';
}
.header-block .bottomHeader .col-md-12 .search input:-ms-input-placeholder {
  font-family: 'ProximaNova-Bold';
}
.header-block .bottomHeader .col-md-12 .mainMenu {
  padding: 5px 0 4px 3%;
  font-size: 0;
  float: left;
  display: block;
  width: 100%;
}
.header-block .bottomHeader .col-md-12 .mainMenu .items {
  display: inline-block;
  font-size: 13px;
  letter-spacing: 0.3px;
  border-right: 1px solid #4f5f73;
}
.header-block .bottomHeader .col-md-12 .mainMenu .items:hover > .subMenu {
  visibility: visible;
  opacity: 1;
}
.header-block .bottomHeader .col-md-12 .mainMenu .items:nth-child(2) .link {
  padding: 0 30px 0 34px;
}
.header-block .bottomHeader .col-md-12 .mainMenu .items:nth-child(3) .link {
  padding: 0 29px 0 25px;
}
.header-block .bottomHeader .col-md-12 .mainMenu .items:nth-child(4) .link {
  padding: 0 31px;
}
.header-block .bottomHeader .col-md-12 .mainMenu .items:nth-child(5) .link {
  padding: 0 28px;
}
.header-block .bottomHeader .col-md-12 .mainMenu .items:last-child {
  border-right: 0;
}
.header-block .bottomHeader .col-md-12 .mainMenu .items .link {
  display: table-cell;
  padding: 0 26px;
  height: 63px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-family: 'ProximaNova-Bold';
  color: #ffffff;
}
.header-block .bottomHeader .col-md-12 .mainMenu .items .link:hover {
  background-color: #ffffff;
  color: #182d47;
  box-shadow: 0 4px #ffffff;
  transition: all 0.3s;
}
.header-block .bottomHeader .col-md-12 .mainMenu .items .link span {
  display: block;
}
.header-block .bottomHeader .col-md-12 .mainMenu .items .subMenu {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.3s;
  position: absolute;
  z-index: 5;
  top: 100%;
  left: 0;
  width: 100%;
  padding-top: 26px;
  min-height: 235px;
  font-size: 14px;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 18px -5px rgba(0, 0, 0, 0.2);
}
.header-block .bottomHeader .col-md-12 .mainMenu .items .subMenu .redItems {
  display: block;
  min-height: 165px;
  border-right: 1px solid #e6e6e6;
}
.header-block .bottomHeader .col-md-12 .mainMenu .items .subMenu .redItems span {
  color: #eb2645;
  font-family: 'ProximaNova-Bold';
  display: block;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.header-block .bottomHeader .col-md-12 .mainMenu .items .subMenu .redItems .thirdMenu li {
  font-size: 14px;
  margin-bottom: 10px;
}
.header-block .bottomHeader .col-md-12 .mainMenu .items .subMenu .redItems .thirdMenu a {
  color: #182d47;
}
.main-block .breadcrumbs {
  font-size: 0;
  text-transform: uppercase;
}
.main-block .breadcrumbs li {
  display: inline-block;
}
.main-block .breadcrumbs li a {
  font-size: 12px;
  color: #9a9d9f;
}
.main-block .breadcrumbs li a:after {
  content: '>';
  display: inline-block;
  padding: 0 8px;
  font-size: 12px;
  color: #eb2645;
}
.main-block .breadcrumbs li .last {
  font-family: 'ProximaNova-Bold';
  color: #eb2645;
}
.main-block .breadcrumbs li .last:after {
  display: none;
}
.main-block .dateRow .interval {
  font-size: 14px;
}
.main-block .dateRow .interval span {
  font-family: 'ProximaNova-Black';
  text-transform: uppercase;
}
.main-block .dateRow .dateWrap .date {
  position: relative;
  font-size: 15px;
  margin-left: 55px;
  float: right;
}
.main-block .dateRow .dateWrap .date img {
  position: absolute;
  top: 50%;
  left: -35px;
  transform: translate(0, -50%);
}
.main-block .sliderRow .infoBlock {
  color: #FFFFFF;
  font-size: 14px;
  background-color: #eb2645;
  padding: 35px 0 30px 17px;
}
.main-block .sliderRow .infoBlock h3 {
  text-transform: uppercase;
  font-family: 'ProximaNova-Bold';
}
.main-block .sliderRow .infoBlock ul {
  display: block;
}
.main-block .sliderRow .infoBlock ul li {
  position: relative;
  padding-left: 15px;
}
.main-block .sliderRow .infoBlock ul li .imgWrap {
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.main-block .sliderRow .infoBlock ul li span {
  display: inline-block;
  vertical-align: middle;
}
.main-block .sliderRow .infoBlock ul li span span {
  display: block;
}
.main-block .sliderRow .infoBlock .bigImg {
  display: block;
  width: 128px;
  height: 180px;
}
.main-block .sliderRow .sliderWrap {
  font-size: 0;
  overflow: hidden;
  position: relative;
}
.main-block .sliderRow .sliderWrap .slick-dots {
  display: inline-block;
}
.main-block .sliderRow .sliderWrap .slick-dots li {
  display: inline-block;
}
.main-block .sliderRow .sliderWrap .slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  outline: none;
  color: transparent;
  font-size: 0;
  background-color: transparent;
  position: relative;
  display: inline-block;
}
.main-block .sliderRow .sliderWrap .slick-dots li button:after {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  display: inline-block;
  background-color: #6c6e71;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
}
.main-block .sliderRow .sliderWrap .slick-dots .slick-active button:after {
  background: #709ed3;
}
.main-block .sliderRow .sliderWrap img {
  display: inline-block;
}
.main-block .sliderRow .sliderWrap .slickWrap {
  position: relative;
  display: inline-block;
  vertical-align: top;
  max-width: 620px;
}
.main-block .sliderRow .sliderWrap .slickWrap .mySlick {
  min-height: 480px;
  max-width: 620px;
  background-color: #2c2f33;
  display: inline-block;
  vertical-align: top;
}
.main-block .sliderRow .sliderWrap .slickWrap .mySlick .item {
  color: #eb2645;
  font-size: 30px;
}
.main-block .sliderRow .sliderWrap .slickWrap .my-arrows .prev,
.main-block .sliderRow .sliderWrap .slickWrap .my-arrows .next {
  position: absolute;
  width: 58px;
  height: 58px;
  bottom: 0;
  background-color: #4e5054;
}
.main-block .sliderRow .sliderWrap .slickWrap .my-arrows .next {
  right: 0;
  bottom: 0;
}
.topFooter {
  font-size: 0;
  text-transform: uppercase;
  background-color: #e31d3c;
  padding: 30px 0 28px 0;
  font-family: 'ProximaNova-Bold';
}
.topFooter .topFooterItem {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
.topFooter .topFooterItem .answers {
  font-size: 14px;
  margin-right: 8%;
  letter-spacing: 0.2px;
  float: right;
}
.topFooter .topFooterItem .usefulLinks {
  margin-left: 15px;
}
.topFooter .topFooterItem .usefulLinks li {
  position: relative;
  display: inline-block;
  margin-right: 6.6%;
}
.topFooter .topFooterItem .usefulLinks li:last-child {
  margin-right: 0;
}
.topFooter .topFooterItem .usefulLinks li:nth-child(2) {
  margin-right: 6.9%;
}
.topFooter .topFooterItem .usefulLinks li:nth-child(2) .img {
  margin-right: 14px;
}
.topFooter .topFooterItem .usefulLinks li:nth-child(3) {
  margin-right: 6.8%;
}
.topFooter .topFooterItem .usefulLinks li:nth-child(3) .img {
  margin-right: 14px;
}
.topFooter .topFooterItem .usefulLinks li:nth-child(4) .img {
  margin-right: 15px;
}
.topFooter .topFooterItem .usefulLinks li a {
  font-size: 12px;
}
.topFooter .topFooterItem .usefulLinks li a:hover {
  color: #182d47;
  transition: all 0.3s;
}
.topFooter .topFooterItem .usefulLinks li a span {
  display: inline-block;
  vertical-align: middle;
}
.topFooter .topFooterItem .usefulLinks li a .img {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.topFooter .topFooterItem .usefulLinks li a .faq {
  background-image: url(../img/spritesheet.png);
  background-position: -1213px -464px;
}
.topFooter .topFooterItem .usefulLinks li a .tchat {
  background-image: url(../img/spritesheet.png);
  background-position: -1213px -404px;
}
.topFooter .topFooterItem .usefulLinks li a .appeler {
  background-image: url(../img/spritesheet.png);
  background-position: -1213px -580px;
  height: 18px;
}
.topFooter .topFooterItem .usefulLinks li a .contact {
  background-image: url(../img/spritesheet.png);
  background-position: -1213px -598px;
  height: 16px;
}
.midFooter {
  padding: 46px 0 39px 0;
  background-color: #182d47;
  color: #b9bbbd;
}
.midFooter .forHeight {
  display: flex;
}
.midFooter .forHeight .Swrap {
  display: inline-block;
  vertical-align: top;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.midFooter .forHeight .Swrap .servises {
  text-align: center;
  padding-bottom: 35px;
}
.midFooter .forHeight .Swrap .servises h3 {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 24px;
  font-family: 'ProximaNova-Black';
}
.midFooter .forHeight .Swrap .servises h3:after {
  content: '';
  display: block;
  position: absolute;
  right: 50%;
  bottom: -12px;
  transform: translate(50%, 0);
  height: 3px;
  width: 18px;
  background-color: #eb2645;
}
.midFooter .forHeight .Swrap .servises p {
  font-size: 14px;
  letter-spacing: 0.2px;
  padding-bottom: 1px;
}
.midFooter .forHeight .Swrap .servises p span {
  display: block;
}
.midFooter .forHeight .secondWrap {
  margin-left: 21%;
}
.midFooter .forHeight .secondWrap h3 {
  letter-spacing: 0.4px;
}
.midFooter .callBack h3 {
  font-size: 19px;
  font-family: 'ProximaNova-Bold';
  letter-spacing: 0.4px;
}
.midFooter .callBack p {
  font-size: 14px;
  letter-spacing: 0.1px;
  padding-top: 3px;
}
.midFooter .callBack form {
  position: relative;
  margin-top: 19px;
}
.midFooter .callBack form input {
  outline: none;
  border: none;
}
.midFooter .callBack form .textField {
  display: block;
  width: 100%;
  max-width: 290px;
  height: 52px;
  padding-left: 20px;
}
.midFooter .callBack form .iButton {
  position: absolute;
  bottom: 50%;
  right: 7%;
  transform: translate(0, 50%);
  width: 42px;
  height: 42px;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #eb2645;
}
.midFooter .callBack form .iButton:hover {
  border-radius: 20%;
  border: 2px solid #182d47;
  transition: all 0.4s;
}
.midFooter .social {
  padding-top: 25px;
}
.midFooter .social h3 {
  font-size: 17px;
  font-family: 'ProximaNova-Bold';
  letter-spacing: 0.3px;
}
.midFooter .social p {
  font-size: 14px;
  letter-spacing: 0.1px;
  padding-top: 4px;
}
.midFooter .social .socialIcon {
  font-size: 0;
  padding-top: 18px;
  margin-left: -1px;
}
.midFooter .social .socialIcon li {
  display: inline-block;
}
.midFooter .social .socialIcon li a {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 14px;
  border-radius: 50%;
  background-color: #000;
}
.midFooter .social .socialIcon li a:hover {
  box-shadow: inset 0px 0px 0px 2px #eb2645;
  border-radius: 20%;
  transition: all 0.4s;
  background-color: #b9bbbd;
}
.midFooter .social .socialIcon .fIcon {
  background-image: url(../img/spritesheet.png);
  background-position: -32px 0;
}
.midFooter .social .socialIcon .tIcon {
  background-image: url(../img/spritesheet.png);
  background-position: -31px -30px;
}
.midFooter .social .socialIcon .yIcon {
  background-image: url(../img/spritesheet.png);
  background-position: 0 0;
}
.midFooter .social .socialIcon .inIcon {
  background-image: url(../img/spritesheet.png);
  background-position: 0 -30px;
}
.midFooter .otherLinks {
  margin-left: 105px;
}
.midFooter .otherLinks h3 {
  font-size: 19px;
  font-family: 'ProximaNova-Bold';
  letter-spacing: 0.4px;
}
.midFooter .otherLinks p {
  font-size: 14px;
  letter-spacing: 0.1px;
  padding: 3px 0 20px 0;
}
.midFooter .otherLinks .link {
  display: block;
  font-size: 14px;
  color: #85776e;
  letter-spacing: 0.1px;
  padding-bottom: 6px;
}
.bottomFooter {
  background-color: #182d47;
  color: #9a9d9f;
}
.bottomFooter .forLine {
  border-top: 1px solid #2b5180;
  margin: 0 9px;
  padding: 18px 0 25px 0;
}
.bottomFooter .forLine .copyright {
  float: left;
  font-size: 12px;
}
.bottomFooter .forLine ul {
  float: right;
  font-size: 0;
}
.bottomFooter .forLine ul li {
  display: inline-block;
  font-size: 14px;
  margin-left: 55px;
}
.bottomFooter .forLine ul li:nth-child(1) {
  margin-left: 0;
}
.bottomFooter .forLine ul li:nth-child(2) {
  margin-left: 58px;
}
.bottomFooter .forLine ul li:nth-child(3) {
  margin-left: 53px;
}
.bottomFooter .forLine ul li:nth-child(4) {
  margin-left: 58px;
}
.bottomFooter .forLine ul li:nth-child(5) {
  margin: 0 2px 0 55px;
}
body {
  height: 2043px;
}
.main-block {
  height: 1175px;
}
.PixP {
  visibility: hidden;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 1380px;
  height: 2043px;
  right: 50%;
  transform: translate(50%, 0);
  opacity: 0.5;
  background-image: url(../img/PixP2.jpg);
}
