@import "_sprites";
@import "_commonStyle";
@import "_fonts";
@import "_grid";
@import "_header";
@import "_content";
@import "_footer";
@import "_libs";
@import "../libs/fontello/iconspuck.css";

.PixP {
  display: none;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 1380px;
  height: 2043px;
  right: 50%;
  transform: translate(50%, 0);
  opacity: 0.5;
  background-image: url(../img/PixP2.jpg);
}



