/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-business-person-silhouette-wearing-tie {
  background-image: url(spritesheet.png);
  background-position: -128px 0px;
  width: 64px;
  height: 64px;
}
.icon-speaker-giving-a-lecture-on-a-stand {
  background-image: url(spritesheet.png);
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon-user-with-computer-monitor-and-bar-graphs {
  background-image: url(spritesheet.png);
  background-position: 0px 0px;
  width: 128px;
  height: 128px;
}
.icon-users-group {
  background-image: url(spritesheet.png);
  background-position: -160px -64px;
  width: 32px;
  height: 32px;
}
.icon-users-relation {
  background-image: url(spritesheet.png);
  background-position: -152px -96px;
  width: 16px;
  height: 16px;
}
.icon-winner-runner-arriving-to-end-line {
  background-image: url(spritesheet.png);
  background-position: -128px -96px;
  width: 24px;
  height: 24px;
}
